@media screen and (max-width : 412px){
	#restaurant-container{
	padding-left: 10px;
}
#restaurant-hours{
	width: 80%;
	/* margin-right: 5px; */
}
#restaurant-name{
	font-size: 18pt;
	padding-top: 10px;
}
#restaurant-address{
	margin-right: 5px;
	font-size: 10pt;
}
#reviews-container{
	/* padding-left: 10px;
	padding-top: 4px;
	margin-bottom: 50px; */
	padding-left: 10px;
}
#reviews-list{
	margin-right: 55px;
}
#map-container{
	margin-left: 50%;
}
.inside .map{
	height: 85%;
}


#footer{
	width: 50%;
}
}